.board{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board-container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.mirror{
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

@media screen and (max-width: 600px){
    .board{
        transform: rotate(90deg);
    }

    .board-container{
        aspect-ratio: 1/1;
    }
}