.board{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 950px;
}

.mirror{
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

@media screen and (max-width: 600px){
    .board{
        transform: rotate(90deg);
        padding-bottom: 0;
    }
}