.square{
    width: 12.5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 193, 128);
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square img{
    pointer-events: none;
    filter: invert(47%) sepia(13%) saturate(1574%) hue-rotate(314deg) brightness(89%) contrast(104%);
}

.squareContent{
    position: absolute;
    width: 100%;
    height: 100%;

}

.non-square{
    background-color: transparent;
    border: none;
}

.move-to-square{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.move-to-square:hover{
    cursor: pointer;
    opacity: 0.5;
    background-color: gray;
}

.move-to-dot{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: gray;
}

.last-move{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: rgb(109, 139, 0);
}