.scoreBoard{
    width: 250px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.pebbleContainer{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-top: 10px;
}

.circle{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.circleBlack{
    background-color: black;
}